<div class="container mt-4">
  <h1 class="mb-4">All Orders</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Amount</th>
          <th>Status</th>
          <th>User ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <a href="<%= order_path(order) %>">
                #<%= order.id %>
              </a>
            </td>
            <td>$<%= order.total %></td>
            <td><%= order.status %></td>
            <td><%= order.user_id %></td>
            <td><%= link_to "View Order", order_path(order), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
