<% if current_user.cart.items.any? %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Your Cart</h2>
      <% @cart.items.each do |item| %>
        <div class="row">
          <div class="col-md-2">
            <img src="" alt="<%= item.product.name %>" class="img-responsive">
          </div>
          <div class="col-md-10">
            <h4><%= item.product.name %></h4>
            <p>
              <% if item.quantity >1 %>
                <%= link_to "-", remove_item_path(item), data: { "turbo-method": :delete  } %>
              <% else %>
                <%= link_to "-", item_path(item), data: { "turbo-method": :delete } %>
              <% end %>
             <%= number_to_currency(item.product.price) %> x <%= item.quantity %>
              <%= link_to "+", add_item_path(item), data: { "turbo-method": :post } %>
             </p>
          </div>
        </div>
        <hr>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <h4>Subtotal: <%= number_to_currency(@cart.subtotal) %></h4>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Summary</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Subtotal: <%= number_to_currency(@cart.subtotal) %></p>
          <p>Shipping: <%= number_to_currency(@cart.shipping) %></p>
          <hr>
          <h4>Total: <%= number_to_currency(@cart.total) %></h4>
          <%= link_to "Proceed to checkout", new_order_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Your cart is empty</h2>
      </div>
    </div>
  </div>
<% end %>