<div class="container">
  <h1>My Wishlist</h1>

  <% if @products.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= number_to_currency(product.price) %></td>
            <td>
              <%= link_to "Add to cart", cart_add_path(product), data: {"turbo-method": :post}, class: "btn btn-primary btn-sm" %>
              <%= link_to "Remove", wishlist_remove_path(product), data: {"turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this item from your wishlist?"}, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
        <%== pagy_bootstrap_nav(@pagy) %>
      </tbody>
    </table>
  <% else %>
    <p>Your wishlist is currently empty.</p>
  <% end %>
</div>
