<div class="my-form">
  <div class="form" data-controller="imagesize">
    <%= form_with model: @product do |f| %>
      <%= render 'shared/form_errors', object: f.object %>

      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :price, class: "form-label" %>
        <%= f.number_field :price, step: :any, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :category_ids, "Categories", class: "form-label" %>
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <div class="form-check">
            <%= cb.check_box(class: "form-check-input") %>
            <%= cb.label(class: "form-check-label") %>
          </div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :image, class: "form-label" %>
        <%= f.file_field :image, accept: "image/jpeg, image/jpg, image/png", class: "form-control", "data-imagesize-target": "input" %>
      </div>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
