<div class="container">
  <div class="row">
    <% if current_user.admin? %>
      <div class="col-md-12 mb-4">
        <%= link_to "Destroy", @product, data: {"turbo-method": :delete, turbo_confirm: "You sure?"}, class: "btn btn-danger" %>
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
      </div>
    <% end %>
    <% unless current_user.wishlist.products.include?(@product) %>
      <div class="col-md-12 mb-4">
        <%= link_to "Add to Wishlist", wishlist_add_path(@product), data: {"turbo-method": :post}, class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="col-md-5">
      <% if @product.image.attached? %>
      <%= image_tag @product.image.variant(:large), class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <h2><%= @product.name %></h2>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Price:</th>
            <td><%= number_to_currency(@product.price) %></td>
          </tr>
          <tr>
            <th scope="row">Description:</th>
            <td><%= @product.description %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Add to cart", cart_add_path(@product), data: {"turbo-method": :post}, class: "btn btn-primary" %>
    </div>
  </div>

  <% unless current_user.reviews.find_by(product_id: @product.id) %>
  <div class="row">
    <div class="col-md-12">
      <h3>Add a review</h3>
      <%= form_with url: reviews_path, model: @review, scope: :review do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <div class="mb-3">
          <%= f.label :rating, class: "form-label" %>
          <%= f.number_field :rating, class: "form-control", max: 5, min: 1 %>
        </div>
        <div class="mb-3">
          <%= f.label :content, class: "form-label" %>
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3>Reviews</h3>
      <% if @product.reviews.any? %>
        <p>
          <%= @product.average_rating %>/5
          <span style="font-size: 12px">(<%= pluralize @product.reviews.count, "review" %>)</span>
        </p>

        <% @product.reviews.each do |review| %>
          <div class="card mb-4">
            <div class="card-body">
              <p><%= review.content %></p>
              <p class="text-muted"><%= review.rating%>/5 by <%= review.user.name %>
                <% if review.user == current_user %>
              <%= link_to "(delete)", review, data: {"turbo-method": :delete, turbo_confirm: "You sure?"}, style: "font-size:14px;" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No reviews yet</p>
  <% end %>
</div>
</div>
</div>
</div>