
<% if admin? %>
  <div style="display:flex; flex-direction:row-reverse; gap: 20px">
  <%= link_to "Destroy", @product, data: {"turbo-method": :delete, turbo_confirm: "You sure?"},class: "btn btn-danger" %>
  <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
  </div >
<% end %>

<div class="product">
<div class="image" style="width:300px; height:300px; background-color:#1c1c1c">
</div>

<div class="text">
<h1><%= @product.name %></h1>
<h3><%= number_to_currency @product.price %></h3>
<h2><%= @product.description %></h2>
<%= link_to "Add to cart", '#', class:"btn btn-success"%>
</div>
</div>